# ===== Python =====
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== Environment =====
.env
__pycache__/
*.pyc

# ===== Virtual Env =====
venv/
.env/
.venv/

# ===== Pip / Cache =====
.cache/
pip-cache/

# ===== OS / Editor =====
.DS_Store
*.log
*.swp

# ===== Termux =====
.bash_history
.termux/

# ===== Git =====
.git/
